@charset "utf-8";
body, h2, h3, h4, h5, h6 {
    font-family: '微軟正黑體','Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

.dp .list-group-item .d-10,
.column .list-group-item .d-10 {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.dp .list-group-item.highline,
.column .list-group-item.highline {
    background-color: #eaeaea;
    font-weight: 700;
    color: black;
}

#mainNav {
    background-color: #343a40;
}

#mainNav .navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, cursive;
    color: #f0f5f9;
}

#mainNav .navbar-toggler {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343a40;
}

header.masthead {
    color: black;
    background-image: none;
}

#services {
    background-color: #f8f9fa;
}

#btnCustom {
    color: #858b92;
    background-color: transparent;
    background-image: none;
    border-left-width: 0;
    border-color: #ced4da;
}

#inputKeyword {
    border-right-width: 0;
} 

#btnCustom:hover {
    color: #343a40;
}

.search-filter {
    margin: 20px 0 30px 0;
}

.search-filter .form-group input {
    padding: 15px;
}

.text-primary {
    color: #757575!important;
}

.block {
    height: 56px;
}

.breadcrumb {
    background-color: #ffffff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 10px;
}

#cloudtmp {
    width: 250px;
}

/*	--------------------------------------------------
	:: Screen
	-------------------------------------------------- */

#cloud {
    padding-top: 15px;
}

#searchbar .form-group input {
    padding-top: 8px;
    padding-bottom: 8px;
}

header.masthead .intro-text {
    padding-top: 80px;
} 

header.masthead .intro-text .intro-heading {
   font-size: 16px;
   margin-bottom: 10px;
} 

.filter-content .card-body {
    padding-top: 0;
}

.list-group-item {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.side-menu {
    border: none;
    border-radius: 0;
    /* position:fixed;
    max-width: 20%; */
}

.side-menu .card-header {
    background-color: transparent;
    border-bottom-width: 0;
    color: #333;
}

/* .side-menu .card-header {
    margin-top: 20px;
} */


@media (min-width: 576px) {

    #cloud {
        padding-top: 10px;
        padding-bottom: 50px;
    } 

    header.masthead .intro-text {
        padding-top: 100px;
    } 

    header.masthead .intro-text .intro-heading {
        font-size: 30px;
        margin-bottom: 25px;
    } 

    #searchbar .form-group input {
        padding: 15px;
    }

}

@media (min-width: 768px) {
    
    #cloud {
        padding-top: 30px;
        padding-bottom: 70px;
    } 

    header.masthead .intro-text {
        padding-top: 100px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 36px;
        margin-bottom: 25px;
    } 

    

}

@media (min-width: 992px) {

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 10px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 64px;
        margin-bottom: 50px;
    } 

    .block {
        height: 102px;
    }

    

}

::selection {
    background: #d2d2d2;
}

.text-uppercase {
    text-transform: unset !important;
}

#searchbar .form-group input::-webkit-input-placeholder {
    color: #858b92;
    font-weight: bold;
}

#searchbar .form-group input::-moz-placeholder {
    color: #858b92;
    font-weight: bold;
}

#searchbar .form-group input:-ms-input-placeholder {
    color: #858b92;
    font-weight: bold;
} 

#searchbar .form-group input:-o-input-placeholder {
    color: #858b92;
    font-weight: bold;
} 



/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
    .panel {
        border: 1px solid #ddd;
        background-color: #fcfcfc;
    }
    .panel .btn-group {
        margin: 15px 0 30px;
    }
    .panel .btn-group .btn {
        transition: background-color .3s ease;
    }
    .table-filter {
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }
    .table-filter tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }
    .table-filter tbody tr td {
        padding: 10px;
        vertical-align: middle;
        border-top-color: #eee;
    }
    .table-filter tbody tr.selected td {
        background-color: #eee;
    }
    /* .table-filter tr td:first-child {
        width: 38px;
    } */
    /* .table-filter tr td:nth-child(2) {
        width: 35px;
    } */
    .table-filter .star {
        color: #ccc;
        text-align: center;
        display: block;
    }
    .table-filter .star.star-checked {
        color: #F0AD4E;
    }
    .table-filter .star:hover {
        color: #ccc;
    }
    .table-filter .star.star-checked:hover {
        color: #F0AD4E;
    }
    .table-filter .media-photo {
        width: 35px;
    }
    .table-filter .media-body {
        display: block;
        /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
    }
    .table-filter .media-meta {
        font-size: 11px;
        color: #999;
    }
    .table-filter .media .title {
        color: #007bff;
        font-size: 12pt;
        line-height: normal;
        font-weight: normal;
        margin: 0;
    }
    .table-filter .media .title:hover {
        color: #000000;
        text-decoration: underline;
        font-weight: bold;
    }
    .table-filter .media .rec-title {
        color: #212529;
        font-size: 12pt;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
    }
    .table-filter .media .title span {
        font-size: .8em;
        margin-right: 20px;
    }
    .table-filter .media .title span.pagado {
        color: #5cb85c;
    }
    .table-filter .media .title span.pendiente {
        color: #f0ad4e;
    }
    .table-filter .media .title span.cancelado {
        color: #d9534f;
    }
    .table-filter .media .summary {
        font-size: 14px;
        margin-bottom: 0;
    }

    /*	--------------------------------------------------
	:: Side Title
	-------------------------------------------------- */

    h3.side-title {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0;
        font-size: 20px;
        color: #333;
        text-transform: uppercase; 
    }

    h6.side-title {
        margin: 0;
    }

    /*	--------------------------------------------------
	:: Paginition
    -------------------------------------------------- */
    
    .pagination {
        border: none;
      }
      .pagination > li {
        display: inline-block;
        margin: 0 4px;
      }
      .pagination > li.active a {
        background: none;
        color: #000;
        border-color: #000;
      }
      .pagination > li.active a:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
      }
      .pagination > li > a {
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 12pt;
        color: #343a40;
      }

      .page-item.active .page-link {
        color: #343a40;
        background-color: transparent;
        border-color: #000000;
      }

      .page-link:hover {
        color: #343a40;
        font-weight: 700;
      }
      
    /*	--------------------------------------------------
	:: Dataset Properties
    -------------------------------------------------- */

    .rtable {
        text-align: left;
        font-size: 12pt;
        margin-top: 1rem;
        border: 1px solid #dee2e6;
        border-collapse: collapse;
    }
    .rtable tfoot th {
        font-weight: normal;
        /* border-top-width: 0;
        border-bottom-width: 0; */
    }
    .rtable tbody th {
        background: #f8f9fa;
        border-right: 1px solid #dee2e6;
    }
    .rtable tbody tr:first-child th,
    .rtable tbody tr:first-child td {
        border-top-width: 0;
    }
    .table-sm td, .table-sm th {
        padding-left: .5rem;
    }

    .dataset-property {
        padding-left: 0;
    }

/*	--------------------------------------------------
	:: Download Button - Dataset
    -------------------------------------------------- */

    .btn3d {
        transition:all .08s linear;
        position:relative;
        outline:medium none;
        -moz-outline-style:none;
        border:0px;
        margin-right:10px;
        margin-top:5px;
        margin-bottom: 20px;
    }
    .btn3d:focus {
        outline:medium none;
        -moz-outline-style:none;
    }
    .btn3d:active {
        top:9px;
    }
    .btn3d.btn-default {
        box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#fff;
    }

    /*	--------------------------------------------------
	:: Tag
    -------------------------------------------------- */

    .tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
    .tags a:hover{border-color:#08C;}
    .tags a.active {background-color: #007bff; color: #FFF;}

    /*	--------------------------------------------------
	:: Carousel
    -------------------------------------------------- */
    .carousel-btn {
        color: #000000;
    }
    .carousel-btn:hover {
        color: #007bff;
    }
    .carousel-btn.active {
        color: #007bff;
    }
    
    /* .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    } */

    .breadcrumb {
        padding: .75rem 1rem;
    }

    /*	--------------------------------------------------
	:: Radio Buttons
    -------------------------------------------------- */
    .view-btn {
        text-align: right;
        /* position: relative; */
        
    }
    .view-btn .btn-group {
        /* position: absolute; */
        /* bottom: 5px; */
        /* right: 15px; */
        margin-top: 5px;
    }
    .view-btn label {
        border-color: #dddddd;
        border-radius: 2px;
        font-weight: normal;
        font-family: inherit;
        background-color: #ffffff;
        color:#717171;
    }
    .view-btn label.active {
        background-color: #28a745;
        color: #ffffff;
    }
    .view-btn label:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .view-btn label:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .view-btn label:hover {
        border-color: #28a745;
    }

/* 
    #007bff

    #ffffff

    #717171 */


    