    .wordcloud {
				height: 786px;
				margin: 0.1in auto;
				padding: 0;
				page-break-after: always;
				page-break-inside: avoid;
				width: 100%;
    }
        
    /* .wordcloud2 {
				height: 786px;
				margin: 0.5in auto;
				padding: 0;
				page-break-after: always;
				page-break-inside: avoid;
				width: 1024px;
    } */

    #awesomeCloudwordcloud {
        /* height: fit-content !important; */
		width: 100% !important; 
		z-index: 1 !important; 
    }