<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">分析圖表</h2>
                <p class="text-muted">
                  <a data-slide-to="0" href="#length" class="carousel-btn active">資料筆數</a> / 
                  <a data-slide-to="1" href="#download" class="carousel-btn">下載次數</a> / 
                  <a data-slide-to="2" href="#views" class="carousel-btn">瀏覽次數</a>
                </p>
                <!-- <p class="item-intro text-muted"></p> -->
                <!-- <div class="clearfix"></div> -->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <p>資料筆數</p>
                      </div>
                      <div class="carousel-item">
                        <canvas id="chart_canvas" class="chart" width="400" height="400" style=""></canvas>                    
                        <table id="chart_table" class="table table-hover" style="margin: 30px 10px"></table>
                      </div>
                      <div class="carousel-item">
                        <!-- <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide"> -->
                        <p>瀏覽次數</p>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                <!-- <canvas id="chart_canvas" class="chart" width="400" height="400" style=""></canvas>                    
                <table id="chart_table" class="table table-hover" style="margin: 30px 10px"></table> -->
                <!-- <img class="img-fluid d-block mx-auto" src="" alt=""> -->
                <!-- <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p> -->
                <!-- <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Southwest</li>
                  <li>Category: Website Design</li>
                </ul> -->
                <button class="btn btn-info" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  關 閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>